node_modules/
.node_modules/

# Build artifacts
coverage/
vendor/hdrpngts.js
vendor/hdrpngts.js.map
samples/**/main.js*
samples/**/types.js*
samples/test_e2e/common/testHelpers.js
samples/test_e2e/common/testHelpers.js.map
samples/test_e2e/PointLightShadowMap/PointShadowMap.js
samples/test_e2e/PointLightShadowMap/PointShadowMap.js.map
samples/test_e2e/MultipleLightsShadowMap/PointShadowMap.js
samples/test_e2e/MultipleLightsShadowMap/PointShadowMap.js.map
samples/test_e2e/MultipleLightsShadowMap/ShadowMap.js
samples/test_e2e/MultipleLightsShadowMap/ShadowMap.js.map
samples/test_e2e/MultipleLightsShadowMap/ShadowSystem.js
samples/test_e2e/MultipleLightsShadowMap/ShadowSystem.js.map
VERSION-FILE
.rpt2_cache
*.tsbuildinfo

# IDE settings
.vscode/workspace.code-workspace
.idea
.settings
**/.DS_Store
**/.vs

# Misc
yarn-error.log
.dccache
.envrc
*.tgz
