registry = http://dura-ds3018xs.synology.me:4873/
always-auth=true
//dura-ds3018xs.synology.me:4873/:_authToken="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJyaG9kb25pdGV1c2VyIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJyaG9kb25pdGV1c2VyIiwiZ3JvdXBzIjpbInJob2Rvbml0ZXVzZXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJyaG9kb25pdGV1c2VyIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTU3Nzg0NzI5OCwibmJmIjoxNTc3ODQ3Mjk5LCJleHAiOjE1ODMwMzEyOTh9._T-Xk6YD8INSL7Np87hJkBLSXLzpQXGWvs5vHUGP6wQ"
email=rhodoniteuser@example.com
