name: test

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - run: git submodule update -i
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - run: pnpm install
      - run: pnpm run build
      - uses: actions/upload-artifact@v4
        with:
          name: Rhodonite-distribution-files
          path: dist
      - run: pnpm run build-samples
      - run: pnpm run test
